<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta th:substituteby="fragments/head_meta :: meta"></meta>

  <meta th:substituteby="fragments/resources :: head_resources"></meta>
</head>

<body>

  <div class="container">
    <div th:substituteby="fragments/body_header :: body_header"></div>

    <div class="row" data-ng-app="ods701eApp">
      <div class="container"  data-ng-controller="ods701eController">

        <div class="row-fluid">
          <div class="btn-toolbar pull-right">
          
          </div>
        </div>

        <section>
          <form class="form-inline"  data-c-enter-tab>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <span th:text="${FUNCTION_ID}"></span> <span class="text-muted">素材及案例管理</span>
                </h3>
              </div>
              <div class="panel-body">
                <fieldset>
                  <p>
                      <ul class="nav nav-tabs">
                        <li><a href="ods701e_05.html">基本資料</a></li>
                        <li class="active"><a href="ods701e_06.html">素材及案例瀏覽</a></li>
                      </ul>
                  </p>
                  <table class="form-group" style="width: 100%;">
                    <thead>
                      <tr class="row">
                          <th>
                          </th>
                          <th>
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row" >
                        <td>
                          <img src="../images/ODS001_04.png">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
              </div>
             </div>
          </form>
        </section>
      </div>
    </div>
  </div>

  <div th:substituteby="fragments/body_footer :: footer"></div>
  <div th:substituteby="fragments/resources :: body_resources"></div>

  <script type="text/javascript" th:src="@{/scripts/ods701e.js}"></script></body>
</body>

</html>
