ul {
    list-style: none;
    padding: 0;
    margin: 0;

}
.cus_css > li {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    float:left;    
    padding: 10px 15px;
    background-color: #F0F9FA;
    color: #8EA2A8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
}
.cus_css > li > hover {
  border-color: #eeeeee #eeeeee #dddddd;
  background-color: #EEEEEE;
}
.cus_css > #mainView {
    border: 0px;
  clear: both;
  padding: 0 1em;
}
.cus_css > .active {
  color: #ffffff;
  background-color: #59a6be;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

