<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta th:substituteby="fragments/head_meta :: meta"></meta>

  <meta th:substituteby="fragments/resources :: head_resources"></meta>
</head>

<body>

  <div class="container">
    <div th:substituteby="fragments/body_header :: body_header"></div>

    <div class="row" data-ng-app="ods708eApp">
      <div class="container"  data-ng-controller="ods708eController">
<!-- 
        <div class="row-fluid">
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-primary" data-ng-click="query()">
              <i class="glyphicon glyphicon-search"></i>查詢
            </button>
            <button type="button" class="btn btn-primary" data-ng-click="reset()">
              <i class="glyphicon glyphicon-refresh"></i>清除
            </button>
          </div>
        </div> -->

        <section>
          <form class="form-inline"  data-c-enter-tab>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <span th:text="${FUNCTION_ID}"></span> <span class="text-muted">批次作業手動啟動</span>
                </h3>
              </div>
              <div class="panel-body">
                <fieldset>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="grid-style" data-ng-grid="girdObject"
                             style="display: inline-block; height: 360px;">
                          </div>
                      </div>
                  </div>
                </fieldset>
              </div>
             </div>
          </form>
        </section>
      </div>
    </div>
  </div>

  <div th:substituteby="fragments/body_footer :: footer"></div>
  <div th:substituteby="fragments/resources :: body_resources"></div>

  <script type="text/javascript" th:src="@{/scripts/ods708e.js}"></script>
</body>

</html>
